etc/schema/dbiv.2011.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    dbiv.2011.xsd - Schema for Dbat Interactive Views
    @(#) $Id$
    2014-11-09: iv prefix
    2012-06-25: more restrictions
    2012-06-22: <text label="..."> generates 2 columns
    2012-06-05: <catalog>, <action>, <field ref="...">
    2012-05-30: <subquery>
    2012-05-25: <text> rows for detail forms
    2012-03-30, Georg Fischer

 * Copyright 2011 Dr. Georg Fischer <punctum at punctum dot kom>
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<xs:schema
        targetNamespace="http://www.teherba.org/2011/dbiv"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:iv="http://www.teherba.org/2011/dbiv"
        xmlns:db="http://www.teherba.org/2007/dbat"
        >
    <xs:element name="dbiv"   type="iv:DbivType" />
<!--================================
    dbiv root
-->
    <xs:complexType name="DbivType" mixed="false">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:any namespace="http://www.w3.org/1999/xhtml"      processContents="lax"/>
                    <xs:any namespace="http://www.teherba.org/2007/dbat"  processContents="lax"/>
                    <xs:element name="parm"     type="iv:ParmType" />
                </xs:choice>
                <xs:element name="view"         type="iv:ViewType" />
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:any namespace="http://www.w3.org/1999/xhtml"      processContents="lax"/>
                    <xs:any namespace="http://www.teherba.org/2007/dbat"  processContents="lax"/>
                    <xs:element name="parm"     type="iv:ParmType" />
                </xs:choice>
            </xs:sequence>
            <xs:sequence>
                <xs:element name="catalog"      type="iv:CatalogType" />
            </xs:sequence>
        </xs:choice>
        <xs:attribute name="conn"       type="xs:NCName" />
        <xs:attribute name="encoding"   type="xs:string" />
        <xs:attribute name="lang"       type="iv:LangType"  />
        <xs:attribute name="script"     type="xs:string" />
    </xs:complexType>
<!--
    complex types for dbiv XML elements in alphabetical order
-->
    <xs:complexType name="ActionType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any namespace="http://www.w3.org/1999/xhtml" processContents="lax"/>
            <xs:element name="parm"           type="iv:ParmType" />
        </xs:choice>
        <xs:attribute name="label"      type="xs:string" />
        <xs:attribute name="link"       type="xs:string" />
        <xs:attribute name="name"       type="iv:ActionNameType" use="required" />
        <xs:attribute name="remark"     type="xs:string" />
        <xs:attribute name="position"   type="iv:PositionType" />
    </xs:complexType>

    <xs:complexType name="CatalogType" mixed="false">
        <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element name="field"    type="iv:FieldType" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="CounterType">
        <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element name="counter" />
        </xs:sequence>
        <xs:attribute name="desc"       type="xs:string" />
    </xs:complexType>

    <xs:complexType name="EnumType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any namespace="http://www.w3.org/1999/xhtml" processContents="lax"/>
            <xs:element name="parm"     type="iv:ParmType" />
        </xs:choice>
        <xs:attribute name="code"       type="xs:string" use="required" />
        <xs:attribute name="lang"       type="iv:LangType" />
        <xs:attribute name="display"    type="xs:string" />
    </xs:complexType>

    <xs:complexType name="EnumerationType">
        <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element name="enum"     type="iv:EnumType" />
        </xs:choice>
        <xs:attribute name="height"     type="xs:unsignedShort" />
    </xs:complexType>

    <xs:complexType name="FieldType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any namespace="http://www.w3.org/1999/xhtml" processContents="lax"/>
            <xs:element name="parm"           type="iv:ParmType"           />
            <xs:element name="enumeration"    type="iv:EnumerationType"    />
            <xs:element name="listbox"        type="iv:ListBoxType"        />
            <xs:element name="read"           type="iv:ReadType"           />
            <xs:element name="search"         type="iv:SearchType"         />
            <xs:element name="subquery"       type="iv:SubQueryType"       />
            <xs:element name="write"          type="iv:WriteType"          />
        </xs:choice>
        <xs:attribute name="align"      type="iv:AlignType" />
        <xs:attribute name="href"       type="xs:string" />
        <xs:attribute name="id"         type="xs:ID"    /><!-- td=id0, td=id1, input=id2 -->
        <xs:attribute name="init"       type="xs:string" />
        <xs:attribute name="key"        type="iv:KeyType" />
        <xs:attribute name="label"      type="xs:string" />
        <xs:attribute name="link"       type="xs:string" />
        <xs:attribute name="name"       type="xs:NCName" />
        <xs:attribute name="pseudo"     type="xs:string" />
        <xs:attribute name="ref"        type="xs:NCName" />
        <xs:attribute name="remark"     type="xs:string" />
        <xs:attribute name="rows"       type="xs:unsignedShort" />
        <xs:attribute name="show"       type="iv:ShowType"  />
        <xs:attribute name="size"       type="xs:unsignedShort" />
        <xs:attribute name="style"      type="xs:string" />
        <xs:attribute name="type"       type="iv:TypeType"  />
        <xs:attribute name="valid"      type="xs:string" />
    </xs:complexType>

    <xs:complexType name="GroupType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="parm"     type="iv:ParmType" />
        </xs:choice>
        <xs:attribute name="by"         type="xs:string" />
    </xs:complexType>

    <xs:complexType name="ListBoxType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="select"   type="iv:SelectType" />
        </xs:choice>
        <xs:attribute name="height"     type="xs:unsignedShort" />
    </xs:complexType>

    <xs:complexType name="OrderType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="parm"     type="iv:ParmType"     />
        </xs:choice>
        <xs:attribute name="by"         type="xs:string" />
    </xs:complexType>
<!--
    <xs:complexType name="ParameterizedText" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="parm"     type="iv:ParmType"     />
        </xs:choice>
    </xs:complexType>
-->
    <xs:complexType name="ParmType">
        <xs:attribute name="name"       type="xs:NCName" use="required" />
        <xs:attribute name="init"       type="xs:string" />
        <xs:attribute name="ix"         type="xs:unsignedShort" />
    </xs:complexType>

    <xs:complexType name="ReadType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any namespace="http://www.w3.org/1999/xhtml" processContents="lax"/>
            <xs:element name="parm"     type="iv:ParmType" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="SearchType" mixed="false">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="urlparm"  type="iv:UrlParmType" />
        </xs:choice>
        <xs:attribute name="href"       type="xs:string" />
        <xs:attribute name="label"      type="xs:string" />
        <xs:attribute name="link"       type="xs:string" />
    </xs:complexType>

    <xs:complexType name="SelectType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any namespace="http://www.teherba.org/2007/dbat" processContents="lax"/>
        </xs:choice>
        <xs:attribute name="into"       type="xs:string" />
        <xs:attribute name="distinct"   type="iv:BoolType" />
    </xs:complexType>

    <xs:complexType name="SubQueryType" mixed="false">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="urlparm"  type="iv:UrlParmType" />
        </xs:choice>
        <xs:attribute name="link"       type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="TextType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any namespace="http://www.w3.org/1999/xhtml" processContents="lax"/>
            <xs:element name="parm"     type="iv:ParmType"  />
        </xs:choice>
        <xs:attribute name="align"      type="iv:AlignType" />
        <xs:attribute name="id"         type="xs:ID"     />
        <xs:attribute name="label"      type="xs:string" />
        <xs:attribute name="style"      type="xs:string" />
    </xs:complexType>

    <xs:complexType name="TitleType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any namespace="http://www.w3.org/1999/xhtml" processContents="lax"/>
            <xs:element name="parm"     type="iv:ParmType" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="UrlParmType" mixed="false">
        <xs:attribute name="field"      type="xs:string" />
        <xs:attribute name="name"       type="xs:NCName" use="required"/>
        <xs:attribute name="value"      type="xs:string" />
    </xs:complexType>

    <xs:complexType name="ViewType" mixed="true">
        <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element name="title"    type="iv:TitleType"    minOccurs="0" maxOccurs="1" />
            <xs:element name="counter"  type="iv:CounterType"  minOccurs="0" maxOccurs="1" />
            <xs:element name="action"   type="iv:ActionType"   minOccurs="0" maxOccurs="1" />
            <xs:element name="field"    type="iv:FieldType"    minOccurs="0" maxOccurs="1" />
            <xs:element name="text"     type="iv:TextType"     minOccurs="0" maxOccurs="1" />
            <xs:element name="where"    type="iv:WhereType"    minOccurs="0" maxOccurs="1" />
            <xs:element name="order"    type="iv:OrderType"    minOccurs="0" maxOccurs="1" />
        </xs:choice>
        <xs:attribute name="help"       type="xs:string" />
        <xs:attribute name="id"         type="xs:ID"     /><!-- the alias of the table/view in SQL SELECTs -->
        <xs:attribute name="name"       type="xs:NCName" use="required" />
        <xs:attribute name="proc"       type="xs:NCName" />
    </xs:complexType>

    <xs:complexType name="WhereType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any namespace="http://www.w3.org/1999/xhtml"      processContents="lax"/>
            <xs:any namespace="http://www.teherba.org/2007/dbat"  processContents="lax"/>
            <xs:element name="parm"     type="iv:ParmType" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="WriteType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:any namespace="http://www.w3.org/1999/xhtml"      processContents="lax"/>
            <xs:any namespace="http://www.teherba.org/2007/dbat"  processContents="lax"/>
            <xs:element name="parm"     type="iv:ParmType" />
        </xs:choice>
    </xs:complexType>

<!--
    enumerations for attribute values
-->
    <xs:simpleType name="ActionNameType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="dat"     ></xs:enumeration><!-- show, no alter -->
            <xs:enumeration value="del"     ></xs:enumeration>
            <xs:enumeration value="ins"     ></xs:enumeration>
            <xs:enumeration value="upd"     ></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AlignType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"    ></xs:enumeration>
            <xs:enumeration value="right"   ></xs:enumeration>
            <xs:enumeration value="center"  ></xs:enumeration>
            <xs:enumeration value="justify" ></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BoolType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="yes"     ></xs:enumeration>
            <xs:enumeration value="no"      ></xs:enumeration>
            <xs:enumeration value="true"    ></xs:enumeration>
            <xs:enumeration value="false"   ></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="KeyType">
        <xs:union> 
            <xs:simpleType> 
                <xs:restriction base="unsignedShort" /> 
            </xs:simpleType> 
            <xs:simpleType> 
                <xs:restriction base="xs:string" /> 
            </xs:simpleType> 
        </xs:union> 
    </xs:simpleType>

    <xs:simpleType name="LangType">
        <xs:restriction base="xs:language">
            <xs:enumeration value="eng"     ></xs:enumeration>
            <xs:enumeration value="en"      ></xs:enumeration>
            <xs:enumeration value="deu"     ></xs:enumeration>
            <xs:enumeration value="de"      ></xs:enumeration>
            <xs:enumeration value="fra"     ></xs:enumeration>
            <xs:enumeration value="fr"      ></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PositionType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="first"   ></xs:enumeration>
            <xs:enumeration value="last"    ></xs:enumeration>
            <xs:enumeration value="none"    ></xs:enumeration>
            <xs:enumeration value="middle"  ></xs:enumeration>
            <xs:enumeration value="result"  ></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ShowType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="always"  ></xs:enumeration><!-- this is the default -->
            <xs:enumeration value="search"  ></xs:enumeration><!-- show column in search result table only -->
            <xs:enumeration value="detail"  ></xs:enumeration><!-- show column in update/insert form only -->
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TypeType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="char"        ></xs:enumeration>
            <xs:enumeration value="date"        ></xs:enumeration>
            <xs:enumeration value="decimal"     ></xs:enumeration>
            <xs:enumeration value="enum"        ></xs:enumeration>
            <xs:enumeration value="int"         ></xs:enumeration>
            <xs:enumeration value="textarea"    ></xs:enumeration>
            <xs:enumeration value="timestamp"   ></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
