etc/xslt/dbat.2007.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	dbat.2007.xsd - Schema for Dbat specifications
	@(#) $Id: dbat.2007.xsd 956 2012-06-05 09:07:53Z gfis $
	2012-06-05: indenting
	2011-03-30, Georg Fischer

 * Copyright 2011 Dr. Georg Fischer <punctum at punctum dot kom>
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<xs:schema 
		targetNamespace="http://www.teherba.org/2007/dbat"
		elementFormDefault="qualified" 
		attributeFormDefault="unqualified"
		xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		xmlns   ="http://www.teherba.org/2007/dbat"
		xmlns:ht="http://www.w3.org/1999/xhtml"
		>
	<xs:element name="dbat"   type="DbatType" />
<!--================================
	root and comment header
-->
	<xs:complexType name="DbatType" mixed="true">
		<xs:sequence>
			<xs:element name="comment" type="CommentType"  minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice minOccurs="1" maxOccurs="unbounded">
				<xs:element name="call"     type="CallType" />
				<xs:element name="choose"   type="ChooseType" />
				<xs:element name="delete"   type="DeleteType" />
				<xs:element name="describe" type="DescribeType" />
				<xs:element name="div"    type="DivType" />
				<xs:element name="insert"   type="InsertType" />
				<xs:element name="parm"     type="ParmType" />
				<xs:element name="select"   type="SelectType" />
				<xs:element name="update"   type="UpdateType" />
				<xs:element name="with"     type="WithType" />
				<xs:any namespace="http://www.w3.org/1999/xhtml" processContents="lax"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="conn"     type="xs:string" />
		<xs:attribute name="contenttype" type="xs:string"/>
		<xs:attribute name="encoding"   type="xs:string" />
		<xs:attribute name="headers"    type="BoolType"  />
		<xs:attribute name="javascript" type="xs:string" />
		<xs:attribute name="lang"     type="LangType"  />
		<xs:attribute name="mode"     type="xs:string" />
		<xs:attribute name="nsp"      type="xs:string" />
		<xs:attribute name="stylesheet" type="xs:string" />
		<xs:attribute name="target"   type="xs:string" />
		<xs:attribute name="title"    type="xs:string" />
		<xs:attribute name="xslt"     type="xs:string" />
	</xs:complexType>

	<xs:complexType name="CommentType" mixed="true">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:any namespace="http://www.w3.org/1999/xhtml" processContents="lax"/>
		</xs:sequence>
		<xs:attribute name="lang" type="LangType" use="required" />
	</xs:complexType>
<!--=================================
	complex types for XML elements in alphabetical order
-->
	<xs:complexType name="CallType" mixed="false">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="col" type="ColType" />
		</xs:sequence>
		<xs:attribute name="headers"    type="BoolType"   />
		<xs:attribute name="into"     type="IntoParmType" />
		<xs:attribute name="name"     type="xs:string" />
		<xs:attribute name="limit"    type="xs:string" />
	</xs:complexType>

	<xs:complexType name="ChooseType" mixed="true">
		<xs:sequence>
			<xs:element name="when"     type="WhenType"    minOccurs="1" maxOccurs="unbounded" />
			<xs:element name="otherwise"  type="OtherwiseType" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ColType" mixed="true" >
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:any namespace="http://www.w3.org/1999/xhtml" processContents="lax"/>
			<xs:element name="parm"     type="ParmType" />
			<xs:element name="listparm"   type="ListParmType" />
			<xs:element name="choose"   type="ChooseType" />
		</xs:choice>
		<xs:attribute name="align"  type="xs:string" />
		<xs:attribute name="dir"    type="DirType"   />
		<xs:attribute name="href"   type="xs:string" />
		<xs:attribute name="key"    type="xs:string" />
		<xs:attribute name="label"  type="xs:string" />
		<xs:attribute name="link"   type="xs:string" />
		<xs:attribute name="name"   type="xs:string" />
		<xs:attribute name="pseudo" type="xs:string" />
		<xs:attribute name="remark" type="xs:string" />
		<xs:attribute name="style"  type="xs:string" />
		<xs:attribute name="type"   type="xs:string" />
		<xs:attribute name="width"  type="xs:string" />
	</xs:complexType>

	<xs:complexType name="ColumnType" mixed="false" >
		<xs:choice minOccurs="1" maxOccurs="unbounded">
		<xs:element name="align"  type="xs:string" />
		<xs:element name="dir"    type="DirType"   />
		<xs:element name="expr"   type="xs:string" /><!-- same as "sql" -->
		<xs:element name="href"   type="xs:string" />
		<xs:element name="key"    type="xs:string" />
		<xs:element name="label"  type="xs:string" />
		<xs:element name="link"   type="xs:string" />
		<xs:element name="pseudo" type="xs:string" />
		<xs:element name="remark" type="xs:string" />
		<xs:element name="name"   type="xs:string" />
		<xs:element name="sql"    type="xs:string" /><!-- same as "expr" -->
		<xs:element name="style"  type="xs:string" />
		<xs:element name="type"   type="xs:string" />
		<xs:element name="width"  type="xs:string" />
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="CounterType">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="counter" />
		</xs:sequence>
		<xs:attribute name="desc" type="xs:string" />
	</xs:complexType>

	<xs:complexType name="DeleteType">
		<xs:sequence>
			<xs:element name="from"   type="FromType"  minOccurs="1" maxOccurs="1" />
			<xs:element name="where"  type="WhereType" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DescribeType" mixed="true">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="parm"   type="ParmType" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DivType" mixed="true" >
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="parm"     type="ParmType" />
			<xs:element name="listparm"   type="ListParmType" />
			<xs:element name="choose"   type="ChooseType" />
			<xs:any namespace="http://www.w3.org/1999/xhtml" processContents="lax"/>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="FromType" mixed="true">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="parm"     type="ParmType"   minOccurs="0" maxOccurs="1" />
			<xs:element name="choose"   type="ChooseType"   minOccurs="0" maxOccurs="1" />
			<xs:element name="group"    type="GroupType"  minOccurs="0" maxOccurs="1" />
			<xs:element name="listparm"   type="ListParmType" minOccurs="0" maxOccurs="1" />
			<xs:element name="where"    type="WhereType"  minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="GroupType" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="parm"     type="ParmType" />
			<xs:element name="listparm"   type="ListParmType" />
			<xs:element name="choose"   type="ChooseType" />
		</xs:choice>
		<xs:attribute name="by"    type="xs:string" />
	</xs:complexType>

	<xs:complexType name="InsertType">
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element name="into">
				<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="parm"     type="ParmType" />
				<xs:element name="listparm" type="ListParmType" />
				<xs:element name="choose"   type="ChooseType" />
			</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="values" type="ValuesType" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ListBoxType">
		<xs:attribute name="name"   type="xs:string" use="required" />
		<xs:attribute name="init"   type="xs:string" />
		<xs:attribute name="label"  type="xs:string" />
		<xs:attribute name="height" type="xs:int" />
	</xs:complexType>

	<xs:complexType name="ListParmType">
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="init" type="xs:string" />
	</xs:complexType>

	<xs:complexType name="OtherwiseType" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="call"     type="CallType" />
			<xs:element name="choose"   type="ChooseType" />
			<xs:element name="col"      type="ColType" />
			<xs:element name="column"   type="ColumnType" />
			<xs:element name="delete"   type="DeleteType" />
			<xs:element name="describe"   type="DescribeType" />
			<xs:element name="div"      type="DivType" />
			<xs:element name="from"     type="FromType" />
			<xs:element name="insert"   type="InsertType" />
		<xs:element name="listparm"   type="ListParmType" />
			<xs:element name="order"    type="OrderType" />
			<xs:element name="parm"     type="ParmType" />
			<xs:element name="select"   type="SelectType" />
			<xs:element name="update"   type="UpdateType" />
			<xs:element name="with"     type="WithType" />
			<xs:any namespace="http://www.w3.org/1999/xhtml" processContents="lax"/>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="OrderType" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="parm"     type="ParmType"   />
			<xs:element name="listparm"   type="ListParmType" />
			<xs:element name="choose"   type="ChooseType" />
		</xs:choice>
		<xs:attribute name="by"     type="xs:string" />
	</xs:complexType>

	<xs:complexType name="ParameterizedText" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="parm"     type="ParmType"   />
			<xs:element name="listparm"   type="ListParmType" />
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="ParmType">
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="init" type="xs:string" />
		<xs:attribute name="list" type="ListType" />
		<xs:attribute name="ix"   type="xs:int" />
	</xs:complexType>

	<xs:complexType name="SelectType" mixed="true">
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:choice minOccurs="1" maxOccurs="unbounded">
				<xs:element name="col"    type="ColType"    />
				<xs:element name="column"   type="ColumnType"   />
			<xs:element name="choose"   type="ChooseType" minOccurs="0" maxOccurs="1" />
			</xs:choice>
			<xs:element name="from"     type="FromType"   minOccurs="0" maxOccurs="1" />
			<xs:element name="where"    type="WhereType"  minOccurs="0" maxOccurs="1" />
			<xs:element name="group"    type="GroupType"  minOccurs="0" maxOccurs="1" />
			<xs:element name="order"    type="OrderType"  minOccurs="0" maxOccurs="1" />
			<xs:element name="counter"  type="CounterType"  minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="aggregate"  type="xs:string" />
		<xs:attribute name="distinct"   type="BoolType"  />
		<xs:attribute name="group"    type="xs:string" />
		<xs:attribute name="headers"  type="BoolType"  />
		<xs:attribute name="id"       type="xs:string" />
		<xs:attribute name="into"     type="IntoParmType" />
		<xs:attribute name="limit"    type="xs:string" />
		<xs:attribute name="with"     type="xs:string" />
	</xs:complexType>

	<xs:complexType name="UpdateType" mixed="true">
		<xs:sequence>
			<xs:element name="col"    type="ColType"    minOccurs="1" maxOccurs="unbounded" />
			<xs:element name="where"    type="WhereType" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ValuesType">
		<xs:choice minOccurs="1" maxOccurs="unbounded">
			<xs:element name="col"    type="ColType"  />
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="WhenType" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="call"     type="CallType" />
			<xs:element name="choose"   type="ChooseType" />
			<xs:element name="col"      type="ColType" />
			<xs:element name="column"   type="ColumnType" />
			<xs:element name="delete"   type="DeleteType" />
			<xs:element name="describe"   type="DescribeType" />
			<xs:element name="div"      type="DivType" />
			<xs:element name="from"     type="FromType" />
			<xs:element name="insert"   type="InsertType" />
		<xs:element name="listparm"   type="ListParmType" />
			<xs:element name="order"    type="OrderType" />
			<xs:element name="parm"     type="ParmType" />
			<xs:element name="select"   type="SelectType" />
			<xs:element name="update"   type="UpdateType" />
			<xs:element name="with"     type="WithType" />
			<xs:any namespace="http://www.w3.org/1999/xhtml" processContents="lax"/>
		</xs:choice>
		<xs:attribute name="name"  type="xs:string" use="required" />
		<xs:attribute name="match" type="xs:string" use="required" />
	</xs:complexType>

	<xs:complexType name="WhereType" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="parm"     type="ParmType" />
			<xs:element name="listparm"   type="ListParmType" />
			<xs:element name="choose"   type="ChooseType" />
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="WithType" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="parm"     type="ParmType" />
			<xs:element name="listparm"   type="ListParmType" />
			<xs:element name="choose"   type="ChooseType" />
		</xs:choice>
	</xs:complexType>

<!-- ===================================
	enumerations for attribute values
-->
	<xs:simpleType name="BoolType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="yes"></xs:enumeration>
			<xs:enumeration value="no"></xs:enumeration>
			<xs:enumeration value="true"></xs:enumeration>
			<xs:enumeration value="false"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DirType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="in"   ></xs:enumeration>
			<xs:enumeration value="inout"></xs:enumeration>
			<xs:enumeration value="out"  ></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="IntoParmType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="parm"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="LangType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="eng"></xs:enumeration>
			<xs:enumeration value="en"></xs:enumeration>
			<xs:enumeration value="deu"></xs:enumeration>
			<xs:enumeration value="de"></xs:enumeration>
			<xs:enumeration value="fra"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ListType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="box"></xs:enumeration>
			<xs:enumeration value="char"></xs:enumeration>
			<xs:enumeration value="int"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>